<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<string>YES</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>CrossApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.optisoft.CrossApp</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>CrossApp</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>FA_Solid.otf</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Needs Calendar Permission</string>
	<key>CFBundleURLSchemes</key>
	<array>
		<string>testot330i+com.optisoft.CrossApp</string>
	</array>
	<key>CFBundleURLName</key>
	<string>com.optisoft.CrossApp.crossapp</string>
	<key>LSItemContentTypes</key>
	<array>
		<string>com.optisoft.CrossApp.tjf</string>
		<string>com.optisoft.CrossApp.xml</string>
	</array>
	<key>CFBundleTypeName</key>
	<string>Testo JSON File</string>
	<key>CFBundleTypeRole</key>
	<string>Editor</string>
	<key>LSHandlerRank</key>
	<string>Owner</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TJF</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Plain Text Document</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>XML</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xml</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Plain Text Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.optisoft.CrossApp.txt</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeSize64IconFile</key>
			<string>icon</string>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Testo xml data</string>
			<key>UTTypeIdentifier</key>
			<string>com.optisoft.CrossApp.xml</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeSize64IconFile</key>
			<string>icon</string>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Testo tjf data</string>
			<key>UTTypeIdentifier</key>
			<string>com.optisoft.CrossApp.tjf</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeSize64IconFile</key>
			<string>icon</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Plain Text Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.optisoft.CrossApp.txt</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeSize64IconFile</key>
			<string>icon</string>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Testo tjf data</string>
			<key>UTTypeIdentifier</key>
			<string>com.optisoft.CrossApp.tjf</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeSize64IconFile</key>
			<string>icon</string>
		</dict>
	</array>
</dict>
</plist>
